services:
  # Orion is the context broker
  orion:
    image: fiware/orion-ld
    hostname: orion
    container_name: fiware-orion
    depends_on:
      - mongo-db
    expose:
      - "1026"
    ports:
      - "1026:1026"
    command: -dbhost mongo-db -logLevel DEBUG
    healthcheck:
      test: curl --fail -s http://orion:1026/version || exit 1

  # MongoDB database
  mongo-db:
    image: mongo:3.6
    hostname: mongo-db
    container_name: db-mongo
    expose:
      - "27017"
    ports:
      - "27017:27017"
    command: --nojournal
    volumes:
      - mongo-db:/data

  terriamap:
    image: ghcr.io/terriajs/terriamap:latest
    container_name: terriamap
    hostname: terriamap
    ports:
      - "8080:3001"
    volumes:
      - ./terria/config:/app/wwwroot/config
      - ./terria/init:/app/wwwroot/init
      - ./terria/build/TerriaJS/images:/app/wwwroot/build/TerriaJS/images
    restart: unless-stopped

volumes:
  mongo-db: